.navigator {
    margin-top: 120px;
    color: black;
    font-size: 20px;
    margin-left: 50px;
}

.nav-link {
    cursor: pointer;
    transition: color 0.25s ease-in;
}

.nav-link {
    color: rgb(130, 128, 128);
    text-decoration: none;
    font-weight: bold;
}

.nav-link:hover {
    color: black;
}

.products {
    margin: 20px 10px 10px 50px;
    display: grid;
    width: 90vw;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.5rem;
    row-gap: 3rem;
}


.product {
    box-shadow: 0px 2px 12px black;
    border-radius: 10px;
    opacity: 1;
    transition: opacity 0.15s;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.product-img {
    width: 15rem;
    height: 15rem;
    object-fit: contain;
    margin-top: 20px;
    cursor: pointer;
    vertical-align: top;
    margin-left: 5%;
}


.details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btns {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.buy-btn {
    background: black;
    color: white;
    padding: 0.75rem;
    border-radius: 15px;

    font-weight: bold;
    cursor: pointer;
    transition: color 0.05s ease;
}

.buy-btn:active {
    background: white;
    color: black;
    border: 2px solid black;
}

.number{
    width: 5rem;
    text-align: center;
}

.icons {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: opacity 0.25s ease-in-out;
}

.icons:hover {
    opacity: 0.5;
}

.icons:active {
    opacity: 0.2;
}

@media screen and (max-width: 1080px) {
    .products {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 650px) {
    .products {
        grid-template-columns: 1fr;
    }
}


